.products{
    height: 50vh;
    width: 100vw;
    background-color: lightskyblue;
}

.products-wrapper{
    width: 95%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1024px){
    .products{
        height: 100%;
        padding: 2rem 0;
    }
    .products-wrapper{
        width: 100%;
        height: 100%;

        display: flex;
       flex-wrap: wrap;
    }
}

@media screen and (max-width:500px){
    .products{
        height: 100%;
        padding: 2rem 0;
    }
    .products-wrapper{
        width: 100%;
        height: 100%;

        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
}